.posts-section{
  margin: 10px;
}
button{
  padding: 10px;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 0.2rem;
}
button:hover{
  background: lightgray;
}
.active-btn{
  background: lightgray;
}
.btn-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}